body {
    margin: 0;
    padding: 0;
    background-color: #111; /* Fundo escuro */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

/* Configuração do Canvas */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o canvas atrás do conteúdo */
}

header h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6); /* Fundo translúcido para o texto */
    padding: 10px;
    border-radius: 8px;
}

